.breadcrumbs {
	margin-top: 37px;
	margin-bottom: 27px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 1.5;
	color: #000000;
	margin-right: 20px;
}
.breadcrumbs-break {
	font-size: 16px;
	color: #000000;
	margin: 0px 20px 0px 0px;
}
.itog-breadcrumbs {
	font-size: 16px;
	line-height: 1.5;
	color: $blue;
}
