@font-face {
	font-family: "Open Sans";
	src: url("../fonts/open-sans-v18-latin_cyrillic-300italic.woff2") format("woff2"),
		url("../fonts/open-sans-v18-latin_cyrillic-300italic.woff") format("woff");
	font-display: swap;
	font-weight: 300;
	font-style: italic;
}

@mixin font($name, $url, $weight, $style) {
	@font-face {
		font-family: "#{$name}";
		src: url("../#{$url}.woff2") format("woff2"), url("../#{$url}.woff") format("woff");
		font-display: swap;
		font-weight: $weight;
		font-style: $style;
	}
}

@include font(Gilroy, fonts/Gilroy-Regular, 400, normal);
@include font(Gilroy, fonts/Gilroy-Medium, 500, normal);
@include font(Gilroy, fonts/Gilroy-Bold, 700, normal);
// @include font(Open Sans, fonts/open-sans-v18-latin_cyrillic-300italic, 300, italic);
