.container {
	max-width: 1640px;
	width: 100%;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		padding: 0 40px;
	}
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.title {
	font-weight: 700;
	span {
		font-family: "Open Sans";
		font-style: italic;
		font-weight: 300;
	}
	&--b {
		font-size: 100px;
		line-height: 1.08;
		@media (max-width: 1300px) {
			@include adaptiv(font-size, 100, 35, 1300, 320);
		}
	}
	&--s {
		font-size: 72px;
		line-height: 1.11;
		@media (max-width: 1300px) {
			@include adaptiv(font-size, 72, 30, 1300, 320);
		}
	}
	&--w {
		color: #ffffff;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

input[type="submit"] {
	cursor: pointer;
}

[data-src="#modal-call"] {
	cursor: pointer;
}
[data-src="#modal"] {
	cursor: pointer;
}

.ajs-message {
	font-size: 16px !important;
}

.logo {
	display: flex;
	align-items: center;
	max-width: 376px;
	// .logo__img
	&__img {
		img {
			max-width: 120px;
			max-height: 88px;
		}
	}
	// .logo__text
	&__text {
		margin-left: 21px;
		p {
			&:first-child {
				margin-bottom: 5px;
				font-weight: 700;
				font-size: 16px;
				line-height: 1.25;
				text-transform: uppercase;
				color: #000000;
			}
			&:last-child {
				font-size: 12px;
				line-height: 1.33;
				color: #000000;
			}
		}
	}
}
.social {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px;
	@media (max-width: 576px) {
		margin: 0 -5px;
	}
	// .social__link
	&__link {
		margin: 0px 3px 6px 3px;
		width: 54px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		transition: background 0.3s;
		@media (min-width: 993px) {
			&:hover {
				background: #0b5dc1;
				img {
					filter: invert(1);
				}
			}
		}
		@media (max-width: 576px) {
			width: 35px;
			height: 35px;
			margin: 0px 5px 6px 5px;
		}
		img {
			max-width: 23px;
			max-height: 23px;
		}
	}
}

.hexagon {
	display: inline-block;
	position: relative;
	// overflow: hidden;
	&:hover {
		.hexagon__image {
			transform: rotate(30deg);
		}
	}
	&__wrapper {
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 20px;
		line-height: 140;
		text-align: center;
		color: #ffffff;
		z-index: 1;
	}
	&__image {
		transition: transform 1s linear;
	}
}

.control {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 420px) {
		justify-content: space-between;
	}

	// .control__prev
	&__prev {
	}
	// .control__btn
	&__btn {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		@media (min-width: 421px) {
			display: none;
		}
		&:hover {
			svg {
				fill: $blue !important;
			}
		}
		svg {
			width: 28px;
			height: 29px;
			fill: #90c1fe;
			path {
				transition: 0.3s;
			}
		}
	}
	// .control__next
	&__next {
	}

	&__pagination {
		position: static;
		margin: 0px -11px 0px -11px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 768px) {
			margin: 0px -7px 0px -7px;
		}
	}

	.swiper-pagination-bullet {
		margin: 0px 11px 5px 11px;
		width: 17px;
		height: 17px;
		background: #90c1fe;
		@media (max-width: 768px) {
			width: 14px;
			height: 14px;
			margin: 0px 7px 5px 7px;
		}
		@media (max-width: 768px) {
			width: 12px;
			height: 12px;
			margin: 0px 7px 5px 7px;
		}
	}
	.swiper-pagination-bullet-active {
		background: $blue;
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
