.container {
	max-width: 1640px;
	width: 100%;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		padding: 0 40px;
	}
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.title {
	font-weight: 700;
	span {
		font-family: "Open Sans";
		font-style: italic;
		font-weight: 300;
	}
	&--b {
		font-size: 100px;
		line-height: 1.08;
		@media (max-width: 1300px) {
			@include adaptiv(font-size, 100, 30, 1300, 320);
		}
	}
	&--s {
		font-size: 72px;
		line-height: 1.11;
		@media (max-width: 1300px) {
			@include adaptiv(font-size, 72, 27, 1300, 320);
		}
	}

	&--vs {
		font-size: 50px;
		line-height: 1.16;
		@media (max-width: 1300px) {
			@include adaptiv(font-size, 50, 27, 1300, 320);
		}
	}

	&--w {
		color: #ffffff;
	}
}

.search {
	padding: 37px 20px;
	@media (max-width: 576px) {
		padding: 25px 20px;
	}
	// .search__form
	&__form {
		max-width: 858px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	// .search__input
	&__input {
		margin-right: 17px;
		flex: 1 1 auto;
		position: relative;
		@media (max-width: 576px) {
			margin-right: 10px;
		}
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 10px);
			left: 30px;
			width: 20px;
			height: 20px;
			background: url("../svg/search.svg") 50% 50% / cover no-repeat;
			@media (max-width: 576px) {
				display: none;
			}
		}
		input {
			display: block;
			padding: 20px 63px 20px 63px;
			width: 100%;
			background: #ffffff;
			border: 1px solid #000000;
			border-radius: 50px;
			font-size: 18px;
			color: #000000;
			@media (max-width: 576px) {
				padding: 15px 20px 15px 20px;
				font-size: 16px;
			}
		}
	}
	// .search__close
	&__close {
		transform: rotate(45deg);
		@include cross(26px, 26px);
	}

	&__clear {
		display: none;
		@include cross(16px, 16px);
		position: absolute;
		top: calc(50% - 8px);
		right: 27px;
		transform: rotate(45deg);
		&--visible {
			display: flex;
		}
		@media (max-width: 576px) {
			display: none;
		}
	}
	&--animated {
		display: none;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

input[type="submit"] {
	cursor: pointer;
}

[data-src="#modal-call"] {
	cursor: pointer;
}
[data-src="#modal"] {
	cursor: pointer;
}

.ajs-message {
	font-size: 16px !important;
}

.logo {
	display: flex;
	align-items: center;
	max-width: 376px;
	// .logo__img
	&__img {
		img {
			max-width: 120px;
			max-height: 88px;
		}
	}
	// .logo__text
	&__text {
		margin-left: 21px;
		p {
			&:first-child {
				margin-bottom: 5px;
				font-weight: 700;
				font-size: 16px;
				line-height: 1.25;
				text-transform: uppercase;
				color: #000000;
			}
			&:last-child {
				font-size: 12px;
				line-height: 1.33;
				color: #000000;
			}
		}
	}
}
.social {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -3px;
	@media (max-width: 576px) {
		margin: 0 -5px;
	}
	// .social__link
	&__link {
		margin: 0px 3px 6px 3px;
		width: 54px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		transition: background 0.3s;
		@media (min-width: 993px) {
			&:hover {
				background: #0b5dc1;
				img {
					transition: 0.3s;
					filter: brightness(0%) invert(1);
				}
			}
		}
		@media (max-width: 576px) {
			width: 35px;
			height: 35px;
			margin: 0px 5px 6px 5px;
		}
		img {
			max-width: 23px;
			max-height: 23px;
			filter: brightness(0%);
		}
	}
}

.hexagon {
	display: flex;
	justify-content: center;
	position: relative;
	@media (max-width: 576px) {
		max-width: 200px;
		margin: 0 auto;
	}
	@media (max-width: 420px) {
		max-width: 140px;
		margin: 0 auto;
	}
	// overflow: hidden;
	&:hover {
		.hexagon__image {
			transform: rotate(1440deg);
		}
	}
	&__wrapper {
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 20px;
		line-height: 140;
		text-align: center;
		color: #ffffff;
		z-index: 1;
		@media (max-width: 420px) {
			font-size: 16px;
		}
	}
	&__image {
		transition: transform 7s linear;
	}
}

.control {
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 420px) {
		justify-content: space-between;
	}

	// .control__prev
	&__prev {
	}
	// .control__btn
	&__btn {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		&:hover {
			svg {
				fill: $blue !important;
			}
		}
		svg {
			width: 28px;
			height: 29px;
			fill: #90c1fe;
			path {
				transition: 0.3s;
			}
		}
	}
	// .control__next
	&__next {
	}

	&__pagination {
		position: static;
		margin: 0px -11px 0px -11px;
		padding: 0 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 768px) {
			margin: 0px -7px 0px -7px;
		}
	}

	.swiper-pagination-bullet {
		margin: 0px 11px 5px 11px;
		width: 17px;
		height: 17px;
		background: #90c1fe;
		@media (max-width: 768px) {
			width: 14px;
			height: 14px;
			margin: 0px 7px 5px 7px;
		}
		@media (max-width: 768px) {
			width: 12px;
			height: 12px;
			margin: 0px 7px 5px 7px;
		}
	}
	.swiper-pagination-bullet-active {
		background: $blue;
	}
}

.slider-image {
	// .slider-image__container
	&__container {
	}
	// .slider-image__title
	&__title {
		margin-bottom: 97px;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 97, 30, 1200, 320);
		}
	}
	// .slider-image__slider
	&__slider {
		overflow: hidden;
		.swiper-slide {
			&:nth-child(2n-1) {
				.slider-image__item {
					border-radius: 100%;
				}
			}
		}
	}
	// .slider-image__item
	&__item {
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .slider-image__control
	&__control {
		display: flex;
		align-items: center;
		margin-top: 50px;
		padding-right: 180px;
		@media (max-width: 650px) {
			flex-direction: column;
			padding-right: 0;
		}
		@media (max-width: 420px) {
			margin-top: 30px;
		}
	}
	// .slider-image__nav
	&__nav {
		display: flex;
		margin-right: 30px;
		@media (max-width: 650px) {
			order: 1;
			margin-right: 0;
			display: none;
		}
		button {
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				svg {
					fill: $blue;
				}
			}
			&:first-child {
				margin-right: 50px;
				@media (max-width: 700px) {
					margin-right: 25px;
				}
			}
		}
		svg {
			fill: #90c1fe;
			width: 50px;
			height: 60px;
			@media (max-width: 700px) {
				width: 40px;
				height: 50px;
			}
		}
	}
	// .slider-image__pagination
	&__pagination {
		position: static;
		flex: 1 1 auto;
		margin: 5px -11px 0px -11px;
		padding: 0 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 768px) {
			margin: 5px -7px 0px -7px;
		}

		.swiper-pagination-bullet {
			margin: 0px 11px 5px 11px;
			width: 17px;
			height: 17px;
			background: #90c1fe;
			@media (max-width: 374px) {
				width: 14px;
				height: 14px;
				margin: 0px 7px 5px 7px;
			}
		}
		.swiper-pagination-bullet-active {
			background: $blue;
		}
	}
}

.right-slider {
	margin-bottom: 88px;
	@media (max-width: 1200px) {
		@include adaptiv(margin-bottom, 88, 50, 1200, 320);
	}

	// .right-slider__container
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: 992px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
	}
	// .right-slider__left
	&__left {
		max-width: 735px;
		flex: 1 1 auto;
		margin-right: 70px;
		@media (max-width: 992px) {
			flex: 0 0 auto;
			max-width: none;
			margin-right: 0;
			margin-bottom: 50px;
		}
		@media (max-width: 420px) {
			margin-bottom: 35px;
		}
	}
	// .right-slider__title
	&__title {
		margin-bottom: 53px;

		@media (max-width: 576px) {
			margin-bottom: 40px;
		}
		@media (max-width: 420px) {
			margin-bottom: 35px;
		}
	}
	// .right-slider__content
	&__content {
		padding-left: 130px;
		@media (max-width: 1540px) {
			padding-left: 40px;
		}
		@media (max-width: 1200px) {
			padding-left: 0;
		}
	}
	// .right-slider__right
	&__right {
		max-width: 592px;
		width: 100%;
		@media (max-width: 1540px) {
			max-width: 450px;
		}
		@media (max-width: 1200px) {
			max-width: 350px;
		}
		@media (max-width: 992px) {
			max-width: 450px;
		}
	}
	// .right-slider__slider
	&__slider {
		overflow: hidden;
		.swiper-slide {
			div {
				position: relative;
				padding-bottom: 100%;
				border-radius: 100%;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					font-family: "object-fit: cover; object-position: center;";
				}
			}
		}
	}
	// .right-slider__nav
	&__nav {
		display: flex;
		@media (max-width: 992px) {
			margin-top: 30px;
			justify-content: center;
		}
		button {
			width: 50px;
			height: 60px;
			background-color: transparent;
			@media (max-width: 576px) {
				width: 40px;
				height: 50px;
			}
			&:first-child {
				margin-right: 30px;
				margin-top: 30px;
				@media (max-width: 992px) {
					margin-top: 0;
					margin-right: 40px;
				}
			}
			&:hover {
				svg {
					fill: $blue;
				}
			}
			svg {
				width: 50px;
				height: 60px;
				fill: #90c1fe;
				transition: 0.3s;
			}
		}
	}
}

.history {
	margin-bottom: 136px;
	@media (max-width: 1200px) {
		@include adaptiv(margin-bottom, 125, 45, 1200, 320);
	}
	// .history__container
	&__container {
	}
	// .history__title
	&__title {
		margin-bottom: 65px;
		@media (max-width: 768px) {
			margin-bottom: 50px;
		}
		@media (max-width: 576px) {
			margin-bottom: 40px;
		}
		@media (max-width: 420px) {
			margin-bottom: 30px;
		}
	}
	// .history__content
	&__content {
		padding-left: 130px;
		column-count: 2;
		column-gap: 10%;
		@media (max-width: 1440px) {
			padding-left: 40px;
			column-gap: 90px;
		}
		@media (max-width: 1300px) {
			padding-left: 0;
		}
		@media (max-width: 992px) {
			column-count: 1;
		}
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
