.footer {
	padding-bottom: 93px;
	@media (max-width: 992px) {
		@include adaptiv(padding-bottom, 93, 25, 992, 320);
	}
	// .footer__container
	&__container {
	}
	// .footer__grid
	&__grid {
		padding-top: 77px;
		display: flex;
		justify-content: space-between;

		border-top: 1px solid #dedede;
		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		@media (max-width: 576px) {
			padding-top: 49px;
		}
	}
	// .footer__col
	&__col {
		&:nth-child(2) {
			flex: 1 1 auto;
			max-width: 670px;
			margin: 0 45px;
			@media (max-width: 1300px) {
				flex: 0 0 auto;
			}
			@media (max-width: 992px) {
				max-width: none;
				margin: 0px 0px 40px 0px;
			}
		}

		&:nth-child(3) {
			@media (max-width: 992px) {
				margin-bottom: 40px;
			}
		}

		@media (max-width: 992px) {
			&:nth-child(1) {
				order: 2;
			}
		}
	}
	// .footer__logo
	&__logo {
		margin-bottom: 51px;
		@media (max-width: 992px) {
			display: none;
		}
	}
	// .footer__privacy
	&__privacy {
		p {
			font-size: 14px;
			line-height: 1.43;
			@media (max-width: 1000px) {
				@include adaptiv(font-size, 14, 10, 1000, 320);
			}
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		a {
			color: #000000;
			transition: 0.3s;
			&:hover {
				color: $blue;
			}
		}
	}
	// .footer__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1300px) {
			flex-direction: column;
			justify-content: flex-start;
		}
		ul {
			flex: 0 1 auto;
			max-width: 50%;
			@media (max-width: 1300px) {
				max-width: none;
				flex: 0 0 auto;
			}
			&:first-child {
				padding-right: 45px;
				@media (max-width: 1300px) {
					padding-right: 0;
				}
			}
		}

		li {
			margin-bottom: 18px;
			a {
				font-weight: 700;
				line-height: 1.44;
				text-transform: uppercase;
				color: #000000;
				// @media (max-width: 1440px) {
				// 	font-size: 17px;
				// }
				// @media (max-width: 1380px) {
				// 	font-size: 16px;
				// }
				// @media (max-width: 420px) {
				// 	font-size: 15px;
				// }
				// @media (max-width: 374px) {
				// 	font-size: 14px;
				// }
				&:hover {
					color: #0b5dc1;
				}
			}
		}
	}
	// .footer__social
	&__social {
		// justify-content: flex-end;
	}
}
