.news {
	margin-bottom: 134px;
	@media (max-width: 1200px) {
		@include adaptiv(margin-bottom, 134, 50, 1200, 320);
	}
	// .news__container
	&__container {
	}
	// .news__title
	&__title {
		margin-bottom: 90px;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 90, 40, 1200, 320);
		}
	}
	// .news__grid
	&__grid {
		margin-bottom: 130px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 60px;
		grid-row-gap: 75px;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 130, 50, 1200, 320);
		}
		@media (max-width: 1199px) {
			grid-column-gap: 30px;
			grid-row-gap: 60px;
		}
		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 576px) {
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 30px;
		}
	}
	// .news__col
	&__col {
		grid-column: span 3;
		@media (max-width: 1440px) {
			grid-column: span 4;
		}
		@media (max-width: 992px) {
			grid-column: span 1 !important;
		}
		&:nth-child(1) {
			grid-column: span 4;
			@media (max-width: 1440px) {
				grid-column: span 5;
			}
			.item-new__image {
				padding-bottom: 81.4%;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
			}
		}
		&:nth-child(2) {
			grid-column: span 5;
			@media (max-width: 1440px) {
				grid-column: span 6;
			}
			.item-new__image {
				padding-bottom: 63.5%;
				border-radius: 200px;
				@media (max-width: 992px) {
					padding-bottom: 81.4%;
					border-top-left-radius: 50%;
					border-top-right-radius: 50%;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}

		&--empty {
			@media (max-width: 1440px) {
				display: none;
			}
		}
	}
	// .news__item
	&__item {
	}
}
