.placeses-single {
	margin-top: 197px;
	margin-bottom: 113px;
	@media (max-width: 1200px) {
		@include adaptiv(margin-bottom, 113, 50, 1200, 320);
		@include adaptiv(margin-top, 197, 50, 1200, 320);
	}
	// .placeses-single__container
	&__container {
	}
	// .placeses-single__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		@media (max-width: 420px) {
			margin: 0 -6px;
		}
		li {
			padding: 0px 10px 20px 10px;
			@media (max-width: 420px) {
				flex-grow: 1;
				padding: 0px 6px 15px 6px;
			}
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 18px;
			line-height: 1.44;
			color: #0b5dc1;
			padding: 10px 15px;
			background: #fefefe;
			border: 1px solid #90c1fe;
			border-radius: 30px;
			transition: 0.3s;
			@media (max-width: 420px) {
				padding: 5px 10px;
				font-size: 17px;
			}
			&:hover {
				color: #fff;
				background-color: $blue;
				border: 1px solid #90c1fe;
			}
		}
	}
}
