.top {
	margin-bottom: 175px;
	@media (max-width: 1200px) {
		@include adaptiv(margin-bottom, 175, 90, 1200, 320);
	}
	// .top__container
	&__container {
	}
	// .top__title
	&__title {
		margin-bottom: 86px;
		@media (max-width: 1200px) {
			@include adaptiv(margin-bottom, 86, 35, 1200, 320);
		}
	}
	// .top__grid
	&__grid {
		@media (min-width: 1200px) {
			grid-column-gap: 60px;
		}

		@media (min-width: 993px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-column-gap: 40px;
			grid-row-gap: 60px;
		}
	}
	// .top__col
	&__col {
		&:nth-child(1),
		&:nth-child(3) {
			.item-top__image {
				border-radius: 100%;
			}
		}
		&:nth-child(2) {
			.item-top__image {
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
			}
		}

		@media (min-width: 1200px) {
			grid-column: span 3;
		}

		@media (min-width: 993px) {
			grid-column: span 4;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				grid-column: span 4;

				.item-top__image {
					padding-bottom: 100%;
				}

				.item-top__count {
					font-size: 200px;
					@media (max-width: 1199px) {
						font-size: 140px;
					}
				}

				.item-top__title {
					font-size: 30px;
					line-height: 1.27;
					@media (max-width: 1199px) {
						@include adaptiv(font-size, 30, 24, 1199, 993);
					}
				}

				.item-top__subtitle {
					font-size: 18px;
					line-height: 1.44;
					color: #000;
					@media (max-width: 1100px) {
						font-size: 17px;
					}
				}
			}
		}
	}
	// .top__item
	&__item {
	}

	&__slider {
		overflow: hidden;
		.swiper-wrapper {
			@media (min-width: 993px) {
				position: static;
				width: 100%;
				height: auto;
				z-index: 1;
				// display: grid;
				transition-property: transform;
				box-sizing: border-box;
			}
		}
	}

	// .top__control
	&__control {
		display: none;
		@media (max-width: 992px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 60px;
		}
		@media (max-width: 576px) {
			margin-top: 40px;
		}
		@media (max-width: 420px) {
			margin-top: 30px;
		}
	}
	// .top__prev
	&__prev {
	}
	// .top__next
	&__next {
	}
}
.item-top {
	display: flex;
	flex-direction: column;
	height: 100%;
	&:hover {
		.item-top__image img {
			transform: scale(1.1);
		}
		.item-top__title {
			color: $blue;
		}
	}
	// .item-top__image
	&__image {
		margin-bottom: 27px;
		padding-bottom: 72.8%;
		position: relative;
		overflow: hidden;

		@media (max-width: 992px) {
			padding-bottom: 100%;
		}
		@media (max-width: 576px) {
			margin-bottom: 20px;
		}
		@media (max-width: 420px) {
			margin-bottom: 30px;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
			transition: 0.3s;
		}
	}
	// .item-top__count
	&__count {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 100px;
		color: #ffffff;
		pointer-events: none;
		user-select: none;
		@media (max-width: 1199px) {
			font-size: 90px;
		}
	}
	// .item-top__title
	&__title {
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.4;
		color: #000;
		transition: 0.3s;
		@media (max-width: 900px) {
			font-size: 19px;
		}
		@media (max-width: 830px) {
			font-size: 18px;
		}
		@media (max-width: 768px) {
			@include adaptiv(font-size, 20, 16, 768, 421);
		}
		@media (max-width: 420px) {
			font-size: 20px;
		}
	}
	// .item-top__subtitle
	&__subtitle {
		font-size: 16px;
		line-height: 1.5;
		color: #000;
		@media (max-width: 850px) {
			font-size: 15px;
		}
		@media (max-width: 768px) {
			@include adaptiv(font-size, 16, 14, 768, 421);
		}
		@media (max-width: 420px) {
			font-size: 16px;
		}
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		margin: 9px -4px 0px -4px;
		@media (max-width: 576px) {
			justify-content: center;
		}
		li {
			padding: 0px 4px 8px 4px;
			// @media (max-width: 420px) {
			// 	flex-grow: 1;
			// }
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			line-height: 1.44;
			color: #0b5dc1;
			padding: 0px 7px;
			background: #fefefe;
			border: 1px solid #90c1fe;
			border-radius: 30px;
			transition: 0.3s;
			&:hover {
				color: #fff;
				background-color: $blue;
				border: 1px solid #90c1fe;
			}
		}
	}
}
